################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyChatAppWithKernel
/bin/Debug/net8.0
/obj
/.vs
/Bz.dAIlasChat.sln.DotSettings.user
/.idea/.idea.Bz.dAIlasChat/.idea/indexLayout.xml
/.idea/.idea.Bz.dAIlasChat/.idea/vcs.xml
